<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    
    <!--Add a registration form here -->
    <h1>Sign Up</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <strong>User Name</strong></br>
            <input type="text" name="username" placeholder='Enter User Name:'>
        </div>
        <div>
            <strong>First Name</strong></br>
            <input type="text" name="firstname" placeholder='Enter First Name:'>
        </div>
        <div>
            <strong>Last Name</strong></br>
            <input type="text" name="lastname" placeholder='Enter Last Name:'>
        </div>
        <div>
            <strong>Password</strong></br>
            <input type="password" name="psw" placeholder='Enter Password:'>
        </div>
        <button class='btn-primary' value='submit'>Submit</button>
    </form>

    </body>
</html>